body{
    text-align: center;
    color: blue;
    background: darkkhaki;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    width: 500px;
    border-style: double;
    border-width: 6px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

.title{
    width: 450px;
    background: olivedrab;
    margin-left: auto;
    margin-right: auto;
}