body{

    text-align: left;
    color: black;
    background: darkkhaki;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    width: 500px;
    border-style: double;
    border-width: 6px;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
}

.title{
    width: 450px;
    background: olivedrab;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.cabecera{
    margin:0;
    width: 490px;
    height: 50px;
    box-shadow: 5px 5px 30px black;
    background: blue;
    color: white;
    padding-left: 10px;
    text-align: left;
    font-weight: 20px;
}

.fi{
    width: 100px;
    height: 30px;
    background: plum;
    padding: 8px 25px;
    font-size: 30px;
}

.nave{
    width: 300px;
    font-size: 20px;
    padding-left: 50px;
}
